@import '.config/wofi/colors/gruvbox_dark_soft16/gtk.scss';

* {
  font-family: Jetbrains Mono Medium, Roboto, sans-serif;
  font-size: 12px;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  color: @base07;
}

#outer-box {
  padding: 10px;
  border: 2px solid @base07;
  background: @base00;
}

#entry {
  transition: background 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: @base02;
}

#entry:selected {
  background: @base0C;
}

#entry:selected #expander-box #entry:selected #text,
#entry:selected #text {
  color: @base00;
}

#entry:selected #expander-box #text {
  color: @base07;
}

#input {
  border-bottom: 2px solid @base03;
}

#text {
  padding-bottom: 2px;
  padding-top: 2px;
  color: @base07;
}