user-dirs.dirs
user-dirs.locale
mimeapps.list
chromium
dconf
pipewire
yay
Thunar
xfce4
gh
GIMP
vlc
Kvantum
QtProject.conf
cef_user_data
pulse
falkTX
rncbc.org
lapce-stable
libfm
pcmanfm-qt
pavucontrol.ini
htop
btop
libreoffice
procps
gtk-3.0
ranger
go
aseprite
godot
openttd
Meltytech
gtk-2.0
obs-studio
kritadisplayrc
kritarc
VirtualBox
systemd
discord
inkscape
WebCord
xdg-desktop-portal-wlr
audacity
lutris
obsidian
Electron
cni
Kitware
LDtk
QtProject
kdenlive-layoutsrc
kdenliverc
blender
builtin.zig
ghc
mapeditor.org/
wireshark
zls.json
xournalpp
Insomnia/
menus/
swi-prolog/
onlyoffice/
FamiStudio/
HQZen Time Tracker/
StardewValley/
karboncalligraphyrc
LarusStone
ardour8
kdeglobals
