user-dirs.dirs
user-dirs.locale
mimeapps.list
chromium
dconf
pipewire
yay
Thunar
xfce4
gh
GIMP
vlc
Kvantum
QtProject.conf
cef_user_data
pulse
falkTX
rncbc.org
lapce-stable
libfm
pcmanfm-qt
pavucontrol.ini
htop
btop
libreoffice
procps
gtk-3.0
ranger
go
nvim.old
btop.save
