@import "/home/jtorres/.config/waybar/catppuccin/themes/mocha.css";

* {
    font-family: 'Hack Nerd Font';
    font-size: 11px;
    font-weight: bold;
    min-height: 24px;
}

window#waybar {
    background-color: @base;
    color: @text;
    border-bottom: 2px solid @crust;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0px 1px;
    background-color: transparent;
    color: @text;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0px -1px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0px;
}

/*
.modules-right > widget:last-child {
    margin-left: 5;
}

.modules-left > widget:last-child > #workspaces {
    margin-left: 5;
}
*/

#workspaces button:hover {
    background: transparent;
    box-shadow: inset 0px -3px @overlay1;
}

#workspaces button.focused {
    background-color: transparent;
    color: @lavender;
    box-shadow: inset 0px -3px @lavender;
}

#workspaces button.urgent {
    background-color: transparent;
    color: @peach;
}

#mode {
    background-color: transparent;
    box-shadow: inset 0px -3px @lavender;
    color: @lavender;
}

#clock,
#battery,
#network,
#backlight,
#pulseaudio,
#custom-power-button,
#mode {
    padding: 0px 8px;
}

#pulseaudio {
    background-color: transparent;
    color: @sapphire;
}

#backlight {
    background-color: transparent;
    color: @sky;
}

#clock {
    background-color: transparent;
    color: @lavender;
}

#battery {
    background-color: transparent;
    color: @blue;
}

#battery.charging, #battery.plugged {
    background-color: transparent;
    color: @blue;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: @blue;
    }
}

#battery.critical:not(.charging) {
    background-color: transparent;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    background-color: transparent;
    color: @teal;
}

#network.disconnected {
    background-color: transparent;
    color: @red;
}

#custom-power-button {
    background-color: transparent;
    color: @maroon;
}
