@import "/home/jtorres/.config/waybar/catppuccin/themes/mocha.css";

* {
  font-family: 'Iosevka Term Nerd Font';
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  background: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: @text;
  padding: 0;
}

#workspaces button {
  padding: 0px;
  background-color: transparent;
  color: @text;
  box-shadow: inset 0px -3px transparent;
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: inset 0px -3px @overlay1;
}

#workspaces button.focused {
  background-color: transparent;
  color: @lavender;
  box-shadow: inset 0px -3px @lavender;
}

#workspaces button.urgent {
  background-color: transparent;
  color: @peach;
}

#scratchpad,
#mode {
  background-color: transparent;
  color: @lavender;
}

#clock,
#custom-power-button,
#battery,
#network,
#backlight,
#pulseaudio,
#scratchpad,
#cpu,
#memory,
#mode {
  padding: 0px 8px;
  margin: 0px;
}

#clock {
  background-color: transparent;
  color: @sky;
}

#cpu,
#memory,
#battery,
#battery.charging,
#battery.plugged {
  background-color: transparent;
  color: @blue;
}

@keyframes blink {
  to {
    background-color: transparent;
    color: @blue;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio,
#backlight,
#network {
  background-color: transparent;
  color: @sapphire;
}

#network.disconnected {
  background-color: transparent;
  color: @red;
}

#tray {
  background-color: transparent;
}

#custom-power-button {
  margin-right: 5px;
  background-color: transparent;
  color: @maroon;
}

#custom-drun {
  padding-left: 8px;
  padding-right: 12px;
  margin-left: 3px;
  background-color: transparent;
  color: @blue;
}

#custom-separator {
  background-color: transparent;
  color: @lavender;
}