@import 'colors/gruvbox_dark_soft16/gtk.scss';

* {
  font-family: Jetbrains Mono Medium, Roboto, sans-serif;
  font-size: 12px;
  border-radius: 0;
  transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#waybar {
  border-top: 2px solid @base07;
  background: @base00;
}

#waybar>* {
  margin-top: 6px;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

button,
label.module,
#tray {
  text-shadow: none;
  border: none;
  padding: 0 4px;
  transition:
    padding 0.25s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#idle_inhibitor.activated,
button.focused,
label.module {
  background: @base0C;
  color: @base00;
}

tooltip {
  background: @base00;
  color: @base07;
  border: 2px solid @base07;
  border-bottom: none;
}

button,
#idle_inhibitor,
#pulseaudio.source.source-muted,
#pulseaudio.sink.muted {
  background: @base02;
  color: @base06;
}

button:not(.focused):hover {
  background: @base03;
  color: @base07;
}

#workspaces button.urgent {
  background: @base0F;
}

#custom-appmenu,
#idle_inhibitor,
#workspaces button,
#pulseaudio.source.source-muted,
#pulseaudio.sink.muted {
  padding: 0 12px;
}

#battery.charging {
  background: @base0D;
}

#custom-powergov.warning,
#battery.discharging.warning {
  background: @base0A;
}

#custom-powergov.critical,
#battery.discharging.critical {
  background: @base08;
}