/* ------------------------------------------------------------------------- 
  colorscheme: "Gruvbox dark, soft"                                             
  from author: "Dawid Kurek (dawikur@gmail.com),
    morhetz (https://github.com/morhetz/gruvbox)"                           
*/

/* # ---- */
@define-color base00 #32302f;
/* # --- */
@define-color base01 #3c3836;
/* # -- */
@define-color base02 #504945;
/* # - */
@define-color base03 #665c54;
/* # + */
@define-color base04 #bdae93;
/* # ++ */
@define-color base05 #d5c4a1;
/* # +++ */
@define-color base06 #ebdbb2;
/* # ++++ */
@define-color base07 #fbf1c7;
/* # red */
@define-color base08 #fb4934;
/* # orange */
@define-color base09 #fe8019;
/* # yellow */
@define-color base0A #fabd2f;
/* # green */
@define-color base0B #b8bb26;
/* # aqua/cyan */
@define-color base0C #8ec07c;
/* # blue */
@define-color base0D #83a598;
/* # purple */
@define-color base0E #d3869b;
/* # brown */
@define-color base0F #d65d0e;

/* ------------------------------------------------------------------------- */

* {
  font-family: Jetbrains Mono Medium, Roboto, sans-serif;
  font-size: 12px;
  border: none;
  background: transparent;
  box-shadow: none;
  color: @base07;
}

#outer-box {
  border: 1px solid @base0C;
  background: @base00;
}

#entry {
  transition: background 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: @base02;
}

#entry:selected {
  background: @base0C;
}

#entry:selected #expander-box #entry:selected #text,
#entry:selected #text {
  color: @base00;
}

#entry:selected #expander-box #text {
  color: @base07;
}

#input {
  border-bottom: 2px solid @base03;
}

#text {
  padding-bottom: 2px;
  padding-top: 2px;
  color: @base07;
}
